body {
	color: green;
	font-family: arial;
	
}
#butter {
	text-align: center;
	background: green;
	color: black;
}
#signDiv {
	text-align:center;
	margin: 50px auto;
	height:100px;
	width:100px;
	border:1px solid #ddd;
    background:#98bf26;
}

canvas {
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}